<!DOCTYPE html>
<html>
<head>
  <title>Contacts</title>
</head>

<style>
 .contacts {
  border: 5px solid black;
 }

 .wrapper {
  display: flex;
 }
  

  .wrapper .list {
    margin-right: 100px;
  }
</style>

<body>

<div id="container"></div>

<script src="/classes/Class18/contacts/react-15.0.0.js"></script>
<script src="/classes/Class18/contacts/react-dom-15.0.0.js"></script>
<script src="/classes/Class18/contacts/browser.min.js"></script>

<script type="text/babel" src="/classes/Class18/contacts/contacts.jsx"></script>


</body>
</html>
